@model IEnumerable<PROG_POE_Part3.Models.Module>

@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

<h1>All your modules</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfStudyTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfStudyCompleted)
            </th>
            <th></th>
        </tr>
    <thead>
        <tbody>
         @foreach (Module newModule in Model)
        {
        <tr>
        <td>
                            @Html.DisplayFor(modelItem => newModule.ModuleName)
        </td>
        <td>
                            @Html.DisplayFor(modelItem => newModule.ModuleCode)
        </td>
        <td>
                            @Html.DisplayFor(modelItem => newModule.SelfStudyTotal)
        </td>
        <td>
                            @Html.DisplayFor(modelItem => newModule.SelfStudyCompleted)
        </td>
        </tr>
        }


    </tbody>
</table> 
